*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/Static/login.jpg");
}

@import url("https://fonts.googleapis.com/css?family-Montserrat:400,500,600,700|Poppins:408,500&display=swap");


.Navbar{
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #11161b;
  box-shadow: 10px 10px 100px black;
}

/* .VerNavbar{
  display: flex;
			flex-direction: column;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			width: 300px;
			padding: 10px;
  background: #11161b;
  box-shadow: 10px 10px 100px black;
}

.vernav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: poppin serif;
  padding: 20px 25px;
  margin: 0 15px;
  position: relative;
  opacity: 0.9;
  border-radius: 5px;
  margin-bottom: 10px;
  
}
    */

    .VerNavbar {
      position: fixed;
      top: 75px;
      left: 0;
      bottom: 0;
      width: 250px;
      background-color: #11161b;
      box-shadow: 10px 10px 100px black;
    }
    
    .vernav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px 10px;
      margin: 8px;
    }
    
    .vernav a {
      display: block;
      padding: 10px;
      width: 220px;
      color: #ffffff;
      text-decoration: none;
      font-size: 22px;
    font-weight: 700;
    font-family: poppin serif;
    opacity: 0.9;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin: 10px;
    }
    
    .vernav a:hover {
      opacity: 1;
  background:#0a0a0a;
    }

    .vernav a::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
    background: #ffffff;
    transition: all .45s ease;
    }
    
    .vernav a:hover::before{
      width: 100%;
    }

    .vernav a.active {
      background-color: #ddd;
      color: #333;
    }

.nav-logo{
  color: #ffffff;
  font-size: 35px;
  font-weight: 800;
  font-family: poppin serif;
  margin: 10px;
}

.nav-items a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: poppin serif;
  padding: 20px 25px;
  margin: 0 5px;
  position: relative;
  opacity: 0.9;
  border-radius: 5px;
}

.nav-items a:hover{
  opacity: 1;
  background:#0a0a0a;
}


.nav-items a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
background: #ffffff;
transition: all .45s ease;
}

.nav-items a:hover::before{
  width: 100%;
}

.header-btn .progap{
  background: #0a0a0a;
  border: 1px solid rgb(131, 127, 127);
  border-radius: 30px;
  transition: all .50s ease;
  margin: 5px;
  padding: 15px 12px;
  transition: all .8s ease;
}

.header-btn .progap:hover{
  background: #ffffff;
  border-radius: 20%;
  padding: 18px 40px;
}

.header-btn a{
  padding: 8px 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: poppin serif;
}

.header-btn .signlog{
  background: #0a0a0a;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
  margin: 0 8px;
}

.header-btn .signlog:hover{
  background: #0e6e26;
  border: 2px solid transparent;
}

.FormBg {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.bg-img {
  background-image: url("/src/Static/login11.jpg");
  background-color: #2f4050;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* .bg-img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.174);
}  */
.content {
  margin-top: 0px;
  /*10px*/
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 82px;
  width: 520px;
  color: white;
  transform: translate(-50%, -50%);
  /*background-image: url("/src/Static/Light.png");
  /*background: rgb(48, 22, 22);
  border: 1px solid #fff;
  /*backdrop-filter: blur(7px);*/
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

/*header[type="LI"]{
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 30px 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  animation: text 6s steps(39) infinite alternate;
  border-right: 3px solid white;
  
}
@keyframes text{
  0%{
    width: 0ch; 
  }
  50%{
    width: 39ch;
  }
}*/


/* header[type="EI"]{
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  animation: text 6s steps(20) infinite alternate;
  border-right: 3px solid white;
  
}
@keyframes text{
  0%{
    width: 0ch; 
  }
  50%{
    width: 20ch;
  }
} */

header[type="PI"] {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  animation: text 6s steps(37) infinite alternate;
  border-right: 3px solid white;

}

@keyframes text {
  0% {
    width: 0ch;
  }

  50% {
    width: 37ch;
  }
}


.field {
  position: static;
  height: 40px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}

.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  /* margin: 6px 0; */
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

select {
  background-color: #1f1e1e;
  color: #fff;
  border-radius: 20px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.space {
  margin-top: 16px;
}

.show {
  position: absolute;
  /* right: 13px; */
  padding: 7px 0px 0px 246px;
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.pass-key {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  /* margin: 6px 0; */
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

.pass-key:valid~.show {
  display: block;

}

.pass {
  text-align: left;
  margin: 10px 0;

}

.pass a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.pass:hover a {
  text-decoration: underline;
}

button {
  width: 50%;
  background: rgb(31, 30, 30);
  border: 1px solid #fff;
  margin: 8px 0 10px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease;

}

button[type="submit"]:hover {
  background: rgb(20, 20, 20);
}

.fa {
  float: left;
}

.maindiv {
  display: flex;
  margin: 12px;
}

.submit-btn {
  position: relative;
  width: fit-content;
  padding-right: 46px;
}

.submit-btn::after {
  content: "\27a4";
  color: #333;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

input[type="file"] {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  /* margin: 6px 0; */
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

.form-control {
  background-color: #1f1e1e;

}

.field input[type="submit"] {
  background: rgb(31, 30, 30);
  border: 1px solid black;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: .3s ease;
  border-radius: 20px;
}

.field input[type="submit"]:hover {
  background: rgb(20, 20, 20);
}

.login {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.label_ {
  color: gray;
  font-size: 17px;
}

.AddBtn {
  /* position: fixed;
    z-index: 999999999; */
  border: none;
  text-indent: 18em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
  outline: 0;
}

.AddBtn input {
  height: 40px;
  width: 50px;
  border: none;
  font-size: medium;
  font-family: sans-serif;
  background: rgb(170 170 170);
}

.Buttons {
  margin-top: 10px;
  position: absolute;
  right: 0;
  margin-right: 80px;
}

.NextBtn {
  width: 250px;
  position: relative;
  right: -73px;
  float: right;
}

.NextBtn button {
  height: 50px;
  background-color: rgb(31, 30, 30);
  border: none;
  color: white;
  font-size: medium;
  font-family: sans-serif;
}

.TableStyle {
  border: #1f1e1e;
  border-collapse: collapse;
  width: 100%;
  color: rgb(20 20 20);
  background: #f4f5f6;
  margin-bottom: 6px;
}

.EditBtn {
  width: 50px;
}

.designLable {
  width: 90px;
  margin-left: 10px;
  padding-left: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #29363e;
  margin: auto;
  padding: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  text-indent: 16.5em;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;

}

main {
  padding: 30px;
}

.title {
  font-size: 30px;
}

.sidebar {
  background: #161d24;
  color: white;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 18px;
  line-height: 0;
}

.bars {
  width: 30px;
}

.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}

.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: black;
  padding: 5px 10px;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-right: 4px solid white;
  background: rgb(80, 78, 87);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-right: 4px solid white;
  background: rgb(80, 78, 87);
}

.link_text {
  white-space: nowrap;
  font-size: 15px;
}

/* .notification_block {
  margin: 10px;
  height: max-content;
  background-color: #203342;
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 490px;
  padding-bottom: 25px;
} */

.Mybody {
  color: white;
  padding-left: 100px
}

.Requestheader {
  padding: 10px 0px 6px 8px;
}

.courseTitle {
  font-weight: 400;
  font-size: 34px;
  font-family:system-ui;
  float: left;
}

.deadline {
  font-size: 18px;
  float: right;
  padding-top: 16px;
}

.requestBody {
  text-align: left;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  border-radius: 10px;
  left: 50%;
  z-index: 999;
  padding: 60px 82px;
  box-shadow: 0 0 40px 20px rgb(0 0 0 / 26%);
}

.outlineTitle {
  display: block;
  font-size: 27px;
  font-weight: 500;
}

.requestFooter {
  float: right;
  margin-top: 12px;
}

.AcceptBtn {
  width: fit-content;
  padding: 5px 20px 20px 20px;
}

.uploadPaper {
  border: white;    
  height: fit-content;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  text-align: center;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}



/* /////////////////////// */

button[type="deatils"] {
  width: 18%;
  background: rgb(107, 75, 75);
  border: 2px solid #fff;
  margin: 0 15px;
  height: 50px;
  font-size: 20px;
  font-family: poppins;
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  float: right;

}

button[type="deatils"]:hover {
  background: rgb(20, 20, 20);
}

.adjustment{
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 999;
}

.notification_block {
  margin: 20px;
  height: max-content;
  background-color: rgb(31, 30, 30);
  background-image: url("/src/Static/grey.jpg");
  color: white;
  border-width: thin;
  border-radius: 20px;
  width: 1050px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-style: inset;
  outline: none;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.notification_block[type=Practical] {
  margin: 20px;
  height: max-content;
  background-color: #2f4050;
  background-image: url("/src/Static/GREEN.jpg");
  color: white;
  border-width: thin;
  border-radius: 5px;
  width: 1050px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-style: inset;
  outline: none;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.26);
}

.CourseTitle{
  width: 100%;
  /* background: black; */
  margin: 6px 0; 
  padding: 0 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
}

.papertype{
  text-align:center;
  font-style: italic;
  font-size: 22px;
}

.date{
  text-align: center;
}
#messageError{
  color: rgb(133, 48, 48); 
  font-family:serif;
}